@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar-container {
  background: #000;
  font-family: "Poppins", sans-serif;
}
.navbar-container .navigation-link {
  font-size: 16px;
  margin: 10px 10px;
  color: rgb(255, 255, 255, 0.9);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s;
}
.navigation-link:hover {
  color: white;
}

.navbar-container .login-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 35px;
  color: white;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.login-btn:hover {
  background-color: #ed762c;
}
