.our-stock-item-type-container {
  background-color: black;
  padding: 60px 0px;
}
.our-stock-item-type-container h2 {
  line-height: 1.5;
}
.our-stock-item-type-container p {
  color: rgb(204, 204, 204);
  margin-top: 20px;
  line-height: 1.6;
  font-size: 17px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .our-stock-item-type-container {
    background-color: black;
    padding: 10px;
  }
}
