@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.inventory-items-container {
  background: #242b36;
  padding: 10px;
}
h2 {
  font-family: "Roboto Slab", serif;
  color: white;
}

.manage_inventories_btn {
  background-color: transparent;
  border: 2px solid #fe8033;
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50px;
  transition: all 0.5s;
}
.manage_inventories_btn:hover {
  background-color: #fe8033;
  transform: scale(1.1);
}
