.add_quantity-container {
  width: 50%;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.add_quantity-container h3 {
  color: rgb(11, 11, 11);
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 20px;
}

.add_quantity-container input {
  padding: 8px 10px;
  width: 50%;
  border: 1px solid rgb(203, 203, 203);
}
.add_quantity-container button {
  padding: 10px 20px;
  border: none;
  background-color: blue;
  color: white;
}

@media only screen and (max-width: 600px) {
  .add_quantity-container {
    width: 100%;
  }
}
